<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Restaurant</title>
    </head>
    <body>
        <h1>Best Restaurant</h1>
        <h2>Edit your entry</h2>
        <form class="form-group" action="/updaterestaurant/{{ editrestaurant.getId }}" method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="update">Edit restaurant:</label>
            <input class="form-control" type="text" name="update">
            <button class="btn btn-warning" type="submit">Edit</button>
        </form>
        <p><a class="btn btn-warning" href="/">Home</a></p>

    </body>
</html>
