<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Restaurant Database</title>
    </head>
    <body>
        <div class="container">
            <h1>Best Restaurants</h1>
            <p>Find a restaurant</p>

            <form class="form-group" action="/cuisine" method="post">
                <label for="cuisine">Create cuisine category</label>
                <input class="form-control" type="text" name="cuisine"><br>
                <button class="btn btn-success" type="submit">Go!</button>
            </form>

            {% if cuisines is not empty %}
                <p>Choose a cuisine you like:</p>
                <ul>
                    {% for cuisine in cuisines %}
                        <li><a href="/restaurant/{{cuisine.getId}}">{{ cuisine.getCuisineType }}</a></li>
                    {% endfor %}
                </ul>
                <form class="form-group" action="/deleteall" method="get">
                    <button class="btn btn-danger" type="submit">Delete all categories</button>
                </form>
            {% else %}
            {% endif %}
        </div>
    </body>
</html>
