<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Reataurant Database</title>
    </head>
    <body>
        <div class="container">
            <h1>Best restaurant</h1>
            {% if restaurants is not empty %}
            <p>Your choices are:</p>

            <ul>
                {% for restaurant in restaurants %}
                    <li>{{ restaurant.getRestaurantName }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form class="form-group" action="/addrestaurant" method="post">
                <label for="restaurant">Enter a restaurant:</label>
                <input class="form-control" type="text" name="restaurant"><br>
                <button class="btn btn-success" type="submit">Save</button>
            </form>






        </div>
    </body>
</html>
